<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizzardApp"
        tools:ignore="UnusedAttribute"
        tools:targetApi="31">
        <activity
            android:name=".activity.flashcard.CreateFlashcardCollectionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.flashcard.CreateFlashcardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.flashcard.FlashcardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.flashcard.FlashcardCollectionListView"
            android:exported="false" />
        <activity
            android:name=".activity.calendar.NewCalendarInsertView"
            android:exported="false" />
        <activity
            android:name=".activity.calendar.CalendarDayView"
            android:exported="false" />
        <activity
            android:name=".activity.note.EditNoteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.note.NewNoteActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.note.NotesListActivity"
            android:exported="true" />
        <activity
            android:name=".activity.note.NoteActivity"
            android:exported="true" />
    </application>

</manifest>